@import "tailwindcss";

@font-face {
  font-family: 'GrotzecPoster';
  src: url('/GrotzecPoster-XCondensedBold.otf') format('opentype');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #f6d91f;
  --font-custom: 'GrotzecPoster', var(--font-geist-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-custom);
}
